.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    background: url(../icons/preloader/preloader.gif) center center no-repeat;
    background-color: #272727;
    transition: all .3s;

    &_loaded {
        opacity: 0;
        visibility: hidden;
    }
}